USE [master]
GO
/****** Object:  Database [LuxuryHotel]    Script Date: 5/10/2026 2:26:30 PM ******/
CREATE DATABASE [LuxuryHotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuxuryHotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LuxuryHotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LuxuryHotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LuxuryHotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuxuryHotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuxuryHotel]
GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 5/10/2026 2:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[maDG] [int] IDENTITY(1,1) NOT NULL,
	[maKH] [int] NOT NULL,
	[maKS] [varchar](20) NOT NULL,
	[diemSo] [int] NOT NULL,
	[noiDung] [ntext] NULL,
	[thoiGian] [datetime] NULL,
	[trangThai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAT_COC]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_COC](
	[maDatCoc] [int] IDENTITY(1,1) NOT NULL,
	[maDatPhong] [int] NOT NULL,
	[soTienCoc] [decimal](18, 2) NOT NULL,
	[trangThai] [varchar](20) NULL,
	[ngayDatCoc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDatCoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAT_PHONG]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_PHONG](
	[maDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[maKH] [int] NOT NULL,
	[maPhong] [varchar](20) NOT NULL,
	[ngayNhan] [datetime] NOT NULL,
	[ngayTra] [datetime] NOT NULL,
	[soNguoi] [int] NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
	[trangThai] [varchar](30) NULL,
	[ngayDat] [datetime] NULL,
	[maXacNhan] [varchar](20) NULL,
 CONSTRAINT [PK__DAT_PHON__67884E4FD9524089] PRIMARY KEY CLUSTERED 
(
	[maDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_DICH]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_DICH](
	[maGD] [int] IDENTITY(1,1) NOT NULL,
	[maHD] [int] NOT NULL,
	[soTien] [decimal](18, 2) NOT NULL,
	[phuongThuc] [varchar](30) NOT NULL,
	[trangThai] [varchar](20) NOT NULL,
	[thoiGian] [datetime] NULL,
	[maGDCong] [varchar](100) NULL,
	[ghiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[maGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH_ANH]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_ANH](
	[maAnh] [int] IDENTITY(1,1) NOT NULL,
	[maPhong] [varchar](20) NULL,
	[maKS] [varchar](20) NOT NULL,
	[duongDan] [varchar](500) NOT NULL,
	[nguonGoc] [varchar](20) NULL,
	[ngayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[maDatPhong] [int] NOT NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
	[soTienDaCoc] [decimal](18, 2) NULL,
	[soTienConLai] [decimal](18, 2) NOT NULL,
	[ngayXuatHD] [datetime] NULL,
	[trangThaiTT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[matKhau] [varchar](255) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[cmnd] [varchar](12) NULL,
	[ngayTao] [datetime] NULL,
	[trangThai] [varchar](10) NULL,
	[VaiTro] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_SAN]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_SAN](
	[maKS] [varchar](20) NOT NULL,
	[tenKS] [nvarchar](100) NOT NULL,
	[diaDiem] [nvarchar](200) NOT NULL,
	[diaChi] [nvarchar](300) NULL,
	[moTa] [ntext] NULL,
	[saoHang] [int] NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 5/10/2026 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maPhong] [varchar](20) NOT NULL,
	[maKS] [varchar](20) NOT NULL,
	[loaiPhong] [nvarchar](50) NOT NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[dienTich] [int] NOT NULL,
	[tienNghi] [nvarchar](500) NULL,
	[sucChua] [int] NOT NULL,
	[trangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DANH_GIA] ON 

INSERT [dbo].[DANH_GIA] ([maDG], [maKH], [maKS], [diemSo], [noiDung], [thoiGian], [trangThai]) VALUES (0, 1, N'LXR_HN', 5, N'Phòng sạch sẽ, nhân viên nhiệt tình. 10 điểm không có nhưng!', CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'Hi?n th?')
INSERT [dbo].[DANH_GIA] ([maDG], [maKH], [maKS], [diemSo], [noiDung], [thoiGian], [trangThai]) VALUES (1, 1, N'LXR_DN', 1, N'Thái độ bảo vệ rất kém.', CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'Ðã ?n')
SET IDENTITY_INSERT [dbo].[DANH_GIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DAT_COC] ON 

INSERT [dbo].[DAT_COC] ([maDatCoc], [maDatPhong], [soTienCoc], [trangThai], [ngayDatCoc]) VALUES (0, 2, CAST(2700000.00 AS Decimal(18, 2)), N'Ðã TT', CAST(N'2026-05-08T14:08:33.400' AS DateTime))
INSERT [dbo].[DAT_COC] ([maDatCoc], [maDatPhong], [soTienCoc], [trangThai], [ngayDatCoc]) VALUES (1, 4, CAST(600000.00 AS Decimal(18, 2)), N'Ch? TT', CAST(N'2026-05-08T14:08:33.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[DAT_COC] OFF
GO
SET IDENTITY_INSERT [dbo].[DAT_PHONG] ON 

INSERT [dbo].[DAT_PHONG] ([maDatPhong], [maKH], [maPhong], [ngayNhan], [ngayTra], [soNguoi], [tongTien], [trangThai], [ngayDat], [maXacNhan]) VALUES (12, 1, N'HN101', CAST(N'2026-05-15T00:00:00.000' AS DateTime), CAST(N'2026-05-16T00:00:00.000' AS DateTime), 1, CAST(1000000.00 AS Decimal(18, 2)), N'Pending', CAST(N'2026-05-10T13:51:10.610' AS DateTime), N'')
INSERT [dbo].[DAT_PHONG] ([maDatPhong], [maKH], [maPhong], [ngayNhan], [ngayTra], [soNguoi], [tongTien], [trangThai], [ngayDat], [maXacNhan]) VALUES (15, 6, N'HN101', CAST(N'2026-05-10T06:56:57.417' AS DateTime), CAST(N'2026-05-11T06:56:57.417' AS DateTime), 1, CAST(500000.00 AS Decimal(18, 2)), N'Pending', CAST(N'2026-05-10T13:56:57.773' AS DateTime), N'a68988b9')
INSERT [dbo].[DAT_PHONG] ([maDatPhong], [maKH], [maPhong], [ngayNhan], [ngayTra], [soNguoi], [tongTien], [trangThai], [ngayDat], [maXacNhan]) VALUES (16, 6, N'DN201', CAST(N'2026-05-10T06:57:22.940' AS DateTime), CAST(N'2026-05-11T06:57:22.940' AS DateTime), 1, CAST(850000.00 AS Decimal(18, 2)), N'Pending', CAST(N'2026-05-10T13:57:22.983' AS DateTime), N'424d40e0')
SET IDENTITY_INSERT [dbo].[DAT_PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[GIAO_DICH] ON 

INSERT [dbo].[GIAO_DICH] ([maGD], [maHD], [soTien], [phuongThuc], [trangThai], [thoiGian], [maGDCong], [ghiChu]) VALUES (0, 1, CAST(2000000.00 AS Decimal(18, 2)), N'POS/Ti?n m?t', N'Thành công', CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'POS_001', N'Thanh toán tại quầy khi check-out')
INSERT [dbo].[GIAO_DICH] ([maGD], [maHD], [soTien], [phuongThuc], [trangThai], [thoiGian], [maGDCong], [ghiChu]) VALUES (1, 2, CAST(2700000.00 AS Decimal(18, 2)), N'VNPay', N'Thành công', CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'VNP_888999', N'Thanh toán cọc online VNPay')
INSERT [dbo].[GIAO_DICH] ([maGD], [maHD], [soTien], [phuongThuc], [trangThai], [thoiGian], [maGDCong], [ghiChu]) VALUES (2, 4, CAST(600000.00 AS Decimal(18, 2)), N'VNPay', N'Th?t b?i', CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'VNP_ERROR_01', N'Khách hàng hủy giao dịch hoặc sai OTP')
SET IDENTITY_INSERT [dbo].[GIAO_DICH] OFF
GO
SET IDENTITY_INSERT [dbo].[HINH_ANH] ON 

INSERT [dbo].[HINH_ANH] ([maAnh], [maPhong], [maKS], [duongDan], [nguonGoc], [ngayThem]) VALUES (1, NULL, N'LXR_HN', N'https://example.com/hotel-hn-front.jpg', N'KhachSan', CAST(N'2026-05-08T14:08:33.403' AS DateTime))
INSERT [dbo].[HINH_ANH] ([maAnh], [maPhong], [maKS], [duongDan], [nguonGoc], [ngayThem]) VALUES (2, N'HN101', N'LXR_HN', N'https://example.com/hn101-bed.jpg', N'KhachSan', CAST(N'2026-05-08T14:08:33.403' AS DateTime))
INSERT [dbo].[HINH_ANH] ([maAnh], [maPhong], [maKS], [duongDan], [nguonGoc], [ngayThem]) VALUES (3, N'DN201', N'LXR_DN', N'https://example.com/dn201-ocean.jpg', N'KhachSan', CAST(N'2026-05-08T14:08:33.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[HINH_ANH] OFF
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([maHD], [maDatPhong], [tongTien], [soTienDaCoc], [soTienConLai], [ngayXuatHD], [trangThaiTT]) VALUES (1, 1, CAST(2000000.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-05-08T14:08:33.400' AS DateTime), N'Ðã TT d?')
INSERT [dbo].[HOA_DON] ([maHD], [maDatPhong], [tongTien], [soTienDaCoc], [soTienConLai], [ngayXuatHD], [trangThaiTT]) VALUES (2, 2, CAST(9000000.00 AS Decimal(18, 2)), CAST(2700000.00 AS Decimal(18, 2)), CAST(6300000.00 AS Decimal(18, 2)), CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'Ðã c?c')
INSERT [dbo].[HOA_DON] ([maHD], [maDatPhong], [tongTien], [soTienDaCoc], [soTienConLai], [ngayXuatHD], [trangThaiTT]) VALUES (3, 3, CAST(8000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-05-08T14:08:33.403' AS DateTime), N'Ðã h?y')
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([maKH], [hoTen], [email], [matKhau], [soDienThoai], [cmnd], [ngayTao], [trangThai], [VaiTro]) VALUES (1, N'Nguyễn Văn A', N'nguyenvana@gmail.com', N'hashed_pwd_1', N'0901111111', N'001099001111', CAST(N'2026-05-08T14:08:33.400' AS DateTime), N'active', N'KhachHang')
INSERT [dbo].[KHACH_HANG] ([maKH], [hoTen], [email], [matKhau], [soDienThoai], [cmnd], [ngayTao], [trangThai], [VaiTro]) VALUES (2, N'Trần Thị B', N'tranthib@gmail.com', N'hashed_pwd_2', N'0902222222', N'001099002222', CAST(N'2026-05-08T14:08:33.400' AS DateTime), N'active', N'KhachHang')
INSERT [dbo].[KHACH_HANG] ([maKH], [hoTen], [email], [matKhau], [soDienThoai], [cmnd], [ngayTao], [trangThai], [VaiTro]) VALUES (3, N'Lê Văn Hacker', N'hacker@gmail.com', N'hashed_pwd_3', N'0903333333', N'001099003333', CAST(N'2026-05-08T14:08:33.400' AS DateTime), N'locked', N'KhachHang')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
INSERT [dbo].[KHACH_SAN] ([maKS], [tenKS], [diaDiem], [diaChi], [moTa], [saoHang], [ngayTao]) VALUES (N'LXR_DN', N'Luxury Resort Đà Nẵng', N'Đà Nẵng', N'100 Võ Nguyên Giáp, Sơn Trà, ĐN', N'Resort view biển tuyệt đẹp.', 4, CAST(N'2026-05-08T14:08:33.397' AS DateTime))
INSERT [dbo].[KHACH_SAN] ([maKS], [tenKS], [diaDiem], [diaChi], [moTa], [saoHang], [ngayTao]) VALUES (N'LXR_HN', N'Luxury Hotel Hà Nội', N'Hà Nội', N'01 Tràng Tiền, Hoàn Kiếm, HN', N'Khách sạn 5 sao ngay trung tâm thủ đô.', 5, CAST(N'2026-05-08T14:08:33.397' AS DateTime))
GO
INSERT [dbo].[PHONG] ([maPhong], [maKS], [loaiPhong], [gia], [dienTich], [tienNghi], [sucChua], [trangThai]) VALUES (N'DN201', N'LXR_DN', N'Ocean View', CAST(2000000.00 AS Decimal(18, 2)), 35, N'View biển, Bồn tắm', 2, N'Trống')
INSERT [dbo].[PHONG] ([maPhong], [maKS], [loaiPhong], [gia], [dienTich], [tienNghi], [sucChua], [trangThai]) VALUES (N'HN101', N'LXR_HN', N'Standard', CAST(1000000.00 AS Decimal(18, 2)), 25, N'Tivi, Điều hòa, Minibar', 2, N'Trống')
INSERT [dbo].[PHONG] ([maPhong], [maKS], [loaiPhong], [gia], [dienTich], [tienNghi], [sucChua], [trangThai]) VALUES (N'HN102', N'LXR_HN', N'VIP', CAST(3000000.00 AS Decimal(18, 2)), 50, N'Tivi 8K, Ban công, Bồn tắm', 2, N'Trống')
GO
/****** Object:  Index [UQ__DAT_COC__67884E4EEA859A1C]    Script Date: 5/10/2026 2:26:31 PM ******/
ALTER TABLE [dbo].[DAT_COC] ADD UNIQUE NONCLUSTERED 
(
	[maDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DAT_PHON__EDFABF1121F079EA]    Script Date: 5/10/2026 2:26:31 PM ******/
ALTER TABLE [dbo].[DAT_PHONG] ADD  CONSTRAINT [UQ__DAT_PHON__EDFABF1121F079EA] UNIQUE NONCLUSTERED 
(
	[maXacNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HOA_DON__67884E4E2E33D464]    Script Date: 5/10/2026 2:26:31 PM ******/
ALTER TABLE [dbo].[HOA_DON] ADD UNIQUE NONCLUSTERED 
(
	[maDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__AB6E61643B1422CA]    Script Date: 5/10/2026 2:26:31 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANH_GIA] ADD  DEFAULT (getdate()) FOR [thoiGian]
GO
ALTER TABLE [dbo].[DANH_GIA] ADD  DEFAULT (N'Hiển thị') FOR [trangThai]
GO
ALTER TABLE [dbo].[DAT_COC] ADD  DEFAULT (N'Chờ TT') FOR [trangThai]
GO
ALTER TABLE [dbo].[DAT_COC] ADD  DEFAULT (getdate()) FOR [ngayDatCoc]
GO
ALTER TABLE [dbo].[DAT_PHONG] ADD  CONSTRAINT [DF__DAT_PHONG__trang__68487DD7]  DEFAULT (N'Chờ xác nhận') FOR [trangThai]
GO
ALTER TABLE [dbo].[DAT_PHONG] ADD  CONSTRAINT [DF__DAT_PHONG__ngayD__693CA210]  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [dbo].[GIAO_DICH] ADD  DEFAULT (getdate()) FOR [thoiGian]
GO
ALTER TABLE [dbo].[HINH_ANH] ADD  DEFAULT ('KhachSan') FOR [nguonGoc]
GO
ALTER TABLE [dbo].[HINH_ANH] ADD  DEFAULT (getdate()) FOR [ngayThem]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [soTienDaCoc]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT (getdate()) FOR [ngayXuatHD]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT (N'Chưa TT') FOR [trangThaiTT]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT ('active') FOR [trangThai]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT ('KhachHang') FOR [VaiTro]
GO
ALTER TABLE [dbo].[KHACH_SAN] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [DF_Phong_TrangThai]  DEFAULT (N'Trống') FOR [trangThai]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH NOCHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACH_HANG] ([maKH])
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH NOCHECK ADD FOREIGN KEY([maKS])
REFERENCES [dbo].[KHACH_SAN] ([maKS])
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH NOCHECK ADD  CONSTRAINT [FK_DANH_GIA_KHACH_HANG] FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACH_HANG] ([maKH])
GO
ALTER TABLE [dbo].[DANH_GIA] NOCHECK CONSTRAINT [FK_DANH_GIA_KHACH_HANG]
GO
ALTER TABLE [dbo].[DAT_COC]  WITH NOCHECK ADD  CONSTRAINT [FK__DAT_COC__maDatPh__6E01572D] FOREIGN KEY([maDatPhong])
REFERENCES [dbo].[DAT_PHONG] ([maDatPhong])
GO
ALTER TABLE [dbo].[DAT_COC] NOCHECK CONSTRAINT [FK__DAT_COC__maDatPh__6E01572D]
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH NOCHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACH_HANG] ([maKH])
GO
ALTER TABLE [dbo].[DAT_PHONG] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH NOCHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PHONG] ([maPhong])
GO
ALTER TABLE [dbo].[DAT_PHONG] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[GIAO_DICH]  WITH NOCHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HOA_DON] ([maHD])
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH NOCHECK ADD FOREIGN KEY([maKS])
REFERENCES [dbo].[KHACH_SAN] ([maKS])
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH NOCHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[PHONG] ([maPhong])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH NOCHECK ADD  CONSTRAINT [FK__HOA_DON__maDatPh__74AE54BC] FOREIGN KEY([maDatPhong])
REFERENCES [dbo].[DAT_PHONG] ([maDatPhong])
GO
ALTER TABLE [dbo].[HOA_DON] NOCHECK CONSTRAINT [FK__HOA_DON__maDatPh__74AE54BC]
GO
ALTER TABLE [dbo].[PHONG]  WITH NOCHECK ADD FOREIGN KEY([maKS])
REFERENCES [dbo].[KHACH_SAN] ([maKS])
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH NOCHECK ADD CHECK  (([diemSo]>=(1) AND [diemSo]<=(5)))
GO
ALTER TABLE [dbo].[DAT_COC]  WITH NOCHECK ADD CHECK  (([soTienCoc]>(0)))
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH NOCHECK ADD  CONSTRAINT [CHK_NgayTra] CHECK  (([ngayTra]>[ngayNhan]))
GO
ALTER TABLE [dbo].[DAT_PHONG] NOCHECK CONSTRAINT [CHK_NgayTra]
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH NOCHECK ADD  CONSTRAINT [CK__DAT_PHONG__soNgu__6754599E] CHECK  (([soNguoi]>(0)))
GO
ALTER TABLE [dbo].[DAT_PHONG] NOCHECK CONSTRAINT [CK__DAT_PHONG__soNgu__6754599E]
GO
ALTER TABLE [dbo].[GIAO_DICH]  WITH NOCHECK ADD CHECK  (([soTien]>(0)))
GO
ALTER TABLE [dbo].[KHACH_SAN]  WITH NOCHECK ADD CHECK  (([saoHang]>=(1) AND [saoHang]<=(5)))
GO
ALTER TABLE [dbo].[PHONG]  WITH NOCHECK ADD CHECK  (([dienTich]>(0)))
GO
ALTER TABLE [dbo].[PHONG]  WITH NOCHECK ADD CHECK  (([gia]>(0)))
GO
ALTER TABLE [dbo].[PHONG]  WITH NOCHECK ADD CHECK  (([sucChua]>(0)))
GO
USE [master]
GO
